<h1><u>Edit Details Levels</u></h1>

<form action="/music/<%= @album.id %>" method="post"> 
 
  <label>
    Album:
    <input type:"text" name="title" value= "<%= @album.title %>">
  </label>
  <label>
    Genre:
    <input type:"text" name="genre" value= "<%= @album.genre %>">
  </label>
  <label>
    Quantity:
    <input type="number" name="quantity" value= "<%= @album.quantity %>"/>
  </label>
  <input type = "submit" value= "Update Record"/>
</form>