<!DOCTYPE html>
<html>
<head>
  <title>Keiths Music</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/music">Home</a>
      </li>
      <li>
        <a href="/music/inventory">Inventory</a>
      </li>
      <li>
        <a href="/music/add">New Stock</a>
      </li>
      <li>
        <a href="/music/artists">Show Artists</a>
      </li>
    </ul>
  </nav>
</main>
<%= yield %>
</body>
</html>