<!DOCTYPE html>
<html>
<head>
  <title>Keiths Music</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/inventory">Inventory</a>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </nav>
</main>
<%= yield %>
</body>
</html>