<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet", type = "text/css", href = "/style.css" />
  <title>Keiths Music</title>
  
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/music">Home</a>
      </li>
      <li>
        <a href="/music/inventory">Inventory</a>
      </li>
      <li>
        <a href="/music/add">New Stock</a>
      </li>
      <li>
        <a href="/music/artists">Show Music</a>
      </li>
    </ul>
  </nav>
</main>
<%= yield %>
</body>
</html>